[submodule "cli/.vim/vim-pathogen"]
	path = cli/.vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "cli/.vim/bundle/vim-markdown"]
	path = cli/.vim/bundle/vim-markdown
	url = https://github.com/preservim/vim-markdown
[submodule "cli/.vim/bundle/vim-sensible"]
	path = cli/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "cli/.vim/bundle/vimtex"]
	path = cli/.vim/bundle/vimtex
	url = https://github.com/lervag/vimtex
[submodule "cli/.vim/bundle/SimpylFold"]
	path = cli/.vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule "cli/.vim/bundle/vim-airline"]
	path = cli/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "cli/.vim/bundle/vim-javascript"]
	path = cli/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "cli/.local/share/nvim/vim-plug"]
	path = cli/.local/share/nvim/vim-plug
	url = https://github.com/junegunn/vim-plug
